// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#footer {
	color: #363535;
	position: absolute; 
	left: 220px;
	top: 650px;

	a {
		color: #6A2424;
	}
}