#content_right {
	position: absolute;
	top: 100px;
	left: 803px; 
	height: 500px; 
	width: 180px;
	
	.side-button {
	 	display:block;
	 	position:absolute;
	}

	span {
		display: none;
	}

	#family {
		width:90px;
		height:70px;
		top:16px;
	}

	#xmas {
		width:110px;
		height:67px;
		left:8px;
		top:88px;
	}

	#travel {
		width:91px;
		height:67px;
		left:12px;
		top:156px;
	}

	#love {
		width:83px;
		height:62px;
		left:21px;
		top:225px;
	}

	#fashion {
		width:93px;
		height:61px;
		left:27px;
		top:290px;
	}

	#editor {
		width:94px;
		height:71px;
		left:42px;
		top:370px;
	}
}
